*{
    margin: 10px;
    padding: 0px;
    background-color:rgb(209, 171, 171);
}
header{
    height: 120px;
    width: 100%;
}
header h1{
    color: black;
    height: 50px;
    text-align: center;
    font-weight: bolder;
    font-family: Lobster,sans-serif;
   
}
header p{
    text-align: center;
    font-size: larger;
    color: white;
    
}

header nav ul{
    list-style: none;
}
header nav ul li{
    display: inline-block;
    width: 8%;
}
.house-details{
    height: 500px;
    float: left;
    width: 100%;
    text-align: center;

}
.house-details h2{
    
    margin: 0px;
}
.house-details h2{
    font-size: 35px;
    text-align: center;
}
.house-details h3{
    bottom: 150px;
    text-align: center;
}
img{
    height: 250px; 
    width: auto;
}
textarea{
    display: block;
    height: 60px;
    width: 80%;
    border: 1px solid black;   
}
#comment-form{  
   width: 40%;
   background-color: red;
   
} 
